.cart {
  height: 100vh;
  width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  border: none;
  transform: translateX(100%);
  transition: all 0.3s ease allow-discrete;

  &:open {
    transform: translateX(0);
  }

  &::backdrop {
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: all 0.3s ease allow-discrete;
  }

  &:open::backdrop {
    opacity: 1;
  }
}

@starting-style {
  .cart {
    &:open {
      transform: translateX(100%);
    }

    &:open::backdrop {
      opacity: 0;
    }
  }
}
