.cart {
  height: 100vh;
  width: 450px;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  border: none;
  border-left: var(--border-lg);
  background-color: var(--offwhite-color);
  padding: 2rem;
  overflow-y: auto;
  transform: translateX(100%);
  transition: all 0.3s ease allow-discrete;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &:open {
    transform: translateX(0);
  }

  &::backdrop {
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: all 0.3s ease allow-discrete;
  }

  &:open::backdrop {
    opacity: 1;
  }

  h1 {
    align-self: center;
    font-family: var(--font-heading);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  > button {
    align-self: flex-start;
  }
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--primary-color);
  border: var(--border-lg);
  box-shadow: var(--box-shadow-sm);
  margin-top: 1rem;

  p {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    margin: 0;
  }
}

.cartActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@starting-style {
  .cart {
    &:open {
      transform: translateX(100%);
    }

    &:open::backdrop {
      opacity: 0;
    }
  }
}
