.buttonWrapper {
  position: relative;
  display: inline-block;
  border-radius: 9999px;

  &::after {
    content: "";
    position: absolute;
    inset: var(--shadow-inset);
    background-color: black;
    border-radius: 9999px;
    z-index: 0;
  }

  .button {
    position: relative;
    z-index: 1;
    padding: 0.75rem 1.5rem;
    border: 2px solid black;
    border-radius: 9999px;
    background-color: var(--primary-color);
    transition: transform 0.1s ease;
    display: block;
    outline: none;
    cursor: pointer;
    font-family: var(--font-heading);
    font-size: 1.25rem;
    text-transform: uppercase;

    &.small {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }

    &:disabled {
      background-color: var(--disabled-color);
      color: white;
    }

    &.secondary {
      background-color: var(--secondary-color);
    }

    &.secondary:disabled {
      border-color: var(--disabled-color);
      color: var(--disabled-color);
    }
  }

  &:hover .button:not(:disabled) {
    transform: translate(
      var(--translate-distance-neg),
      var(--translate-distance-neg)
    );
  }

  &:active .button:not(:disabled) {
    transform: translate(0, 0);
  }
}
