.buttonWrapper {
  --translate-distance: 4px;
  --translate-distance-neg: calc(-1 * var(--translate-distance));
  --shadow-inset: 1px;

  position: relative;
  display: inline-block;
  border-radius: 9999px;

  &::after {
    content: "";
    position: absolute;
    inset: var(--shadow-inset);
    background-color: black;
    border-radius: 9999px;
    z-index: 0;
  }

  &.secondary::after {
    background-color: var(--primary-color);
  }

  .button {
    position: relative;
    z-index: 1;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 9999px;
    background-color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    transition: transform 0.1s ease;
    display: block;

    &.small {
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      font-weight: var(--font-weight-regular);
    }

    &:disabled {
      background-color: var(--disabled-color);
      color: white;
    }

    &.secondary {
      background-color: white;
      border: 2px solid black;
    }

    &.secondary:disabled {
      border-color: var(--disabled-color);
      color: var(--disabled-color);
    }
  }

  &:hover .button:not(:disabled) {
    transform: translate(
      var(--translate-distance-neg),
      var(--translate-distance-neg)
    );
  }

  &:active .button:not(:disabled) {
    transform: translate(0, 0);
  }
}
