.itemCard {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;

  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}

.imageWrap {
  position: relative;
  display: inline-block;
}

.cardLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-decoration: none;
}

.itemCard:hover .cardLink {
  opacity: 1;
}
