.itemCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  box-shadow: 4px 4px 0 #000;
  border: 2px solid black;
  background-color: var(--offwhite-color);

  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}

.imageWrap {
  position: relative;
  display: inline-block;
  align-self: center;
}

.title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
}

.price {
  margin-top: auto;
  text-align: center;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

.cardLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-decoration: none;
}

.itemCard:hover .cardLink {
  opacity: 1;
}
