.itemCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-sm);
  border: var(--border-sm);
  background-color: var(--offwhite-color);

  img {
    width: 150px;
    height: 150px;
    object-fit: contain;

    @media (width >= 700px) {
      width: 200px;
      height: 200px;
    }
  }
}

.imageWrap {
  position: relative;
  display: inline-block;
  align-self: center;
}

.title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
}

.price {
  margin-top: auto;
  text-align: center;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

.cardLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  text-decoration: none;

  @media (width >= 1000px) {
    opacity: 0;
  }
}

.itemCard:hover .cardLink {
  @media (width >= 1000px) {
    opacity: 1;
  }
}
