.quantitySelector {
  display: flex;
  gap: 2px;
}

.quantityButton {
  background-color: var(--offwhite-color);
  border: 2px solid black;

  &.decrease {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }

  &.increase {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
  }
}

.quantity {
  background-color: var(--offwhite-color);
  border: 2px solid black;
  appearance: textfield;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
  text-align: center;
  width: 2rem;

  &:focus-within {
    background-color: var(--secondary-color);
    border-radius: 0;
  }
}

.large {
  .quantityButton {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
  }

  .quantity {
    width: 2.5rem;
    font-size: 1.25rem;
  }
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  margin: 0;
}
