.quantitySelector {
  display: flex;
  gap: 2px;
}

.quantityButton {
  background-color: var(--offwhite-color);
  border: 2px solid black;

  &.decrease {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }

  &.increase {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
}

.quantity {
  background-color: var(--offwhite-color);
  border: 2px solid black;
  appearance: textfield;
  -moz-appearance: textfield;
  text-align: center;
  width: 2rem;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
