.toast {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  padding: 0.5rem 2rem;

  &.show {
    animation: slide-in 0.3s ease-out forwards;
  }

  &.hide {
    animation: slide-out 0.3s ease-in forwards;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate(-50%, 100px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, 100px);
  }
}
