.categorySelector {
  position: sticky;
  top: 140px;
  width: 200px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.categoryButton {
  display: flex;
  justify-content: space-between;
  border: none;
  background: none;

  &.active {
    font-weight: var(--font-weight-bold);
  }

  &:hover {
    cursor: pointer;
  }
}
