.categorySelector {
  position: sticky;
  top: 100px;
  width: 200px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.categoryButton {
  display: flex;
  justify-content: space-between;

  &.active {
    font-weight: var(--font-weight-bold);
  }
}
