.home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hero {
  height: 150px;
  background-color: #4eeea3;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-lg);
  box-shadow: var(--box-shadow-lg);
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: 3rem;

  @media (width >= 700px) {
    height: 250px;
    font-size: 5rem;
  }

  @media (width >= 1100px) {
    height: 300px;
    font-size: 8rem;
  }
}

.trendingItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
  align-self: center;

  @media (width >= 700px) {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  @media (width >= 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  @media (width >= 1500px) {
    width: 120%;
  }
}

.startShopping {
  margin: 3rem auto;
}

.trending {
  margin: 0 auto 1rem;
}
