.home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hero {
  height: 300px;
  background-color: #4eeea3;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #000;
  box-shadow: 8px 8px 0 #000;
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: 8rem;
}

.trendingItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  width: 120%;
  align-self: center;
}

.startShopping {
  margin: 3rem auto;
}

.trending {
  margin: 0 auto 1rem;
}
