.hero {
  width: 1200px;
  height: 300px;
  background-color: #4eeea3;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 0 #000;
  border: 4px solid #000;
  box-shadow: 8px 8px 0 #000;
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: 8rem;
}

.trendingItems {
  display: flex;
  gap: 20px;
}
