.shopContainer {
  display: flex;
  flex-direction: column;
}

.sorting {
  align-self: flex-end;
}
.shop {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.items {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
