.shopContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sorting sorting"
    "categories items";
}

.sorting {
  grid-area: sorting;
  display: flex;
  justify-content: flex-end;
}

.categories {
  grid-area: categories;
}

.items {
  grid-area: items;
}

.itemCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
