.header {
  position: sticky;
  top: 0;
  background-color: #d3d3d3;
  padding: 20px;

  .headerContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    .searchContainer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
