.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: sticky;
  border: var(--border-lg);
  background-color: var(--offwhite-color);
  box-shadow: var(--box-shadow-lg);
  top: 1rem;
  padding: 12px 16px;
  z-index: 9999;

  @media (width >= 700px) {
    flex-wrap: nowrap;
    padding: 20px;
  }
}

.logo {
  font-size: 1.5rem;
  font-family: var(--font-body);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 0 0 0 transparent;
  transition: text-shadow 0.3s ease;

  &:hover {
    text-shadow: 1px 1px 0 var(--primary-color);
  }

  @media (width >= 700px) {
    width: 180px;
    font-size: 2rem;
  }
}

.navToggle {
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  background: var(--secondary-color);
  border: var(--border-sm);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width >= 700px) {
    display: none;
  }
}

.hamburger {
  display: block;
  width: 50%;
  height: 3px;
  background: var(--text-color);
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--text-color);
    position: absolute;
    left: 0;
  }

  &::before {
    transform: translateY(-8px);
  }

  &::after {
    transform: translateY(8px);
  }
}

.nav {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  order: 1;

  @media (width >= 700px) {
    visibility: visible;
    height: auto;
    overflow: visible;
    flex-direction: row;
    align-items: center;
    width: auto;
    flex: 1;
    order: 0;
  }
}

.navVisible {
  visibility: visible;
  height: auto;
  overflow: visible;
  padding-top: 1rem;
}

.searchContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  > div {
    position: relative;
    height: 40px;
    width: 100%;

    @media (width >= 700px) {
      max-width: 400px;
    }

    .searchInput {
      width: 100%;
      height: inherit;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      outline: none;
      border: var(--border-sm);
    }

    .searchButton {
      position: absolute;
      right: 0;
      height: inherit;
      border: var(--border-sm);
      background-color: var(--secondary-color);

      &:hover {
        background-color: var(--primary-color);
        cursor: pointer;
      }
    }
  }
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (width >= 700px) {
    width: 180px;
    justify-content: flex-end;
  }
}

.shopLink {
  text-decoration: none;
  color: var(--text-color);
}

.itemCount {
  position: absolute;
  top: -8px;
  right: -14px;
  background-color: var(--secondary-color);
  border: var(--border-sm);
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
}
