.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  text-align: center;
  max-width: 600px;
  padding: 0 1rem;
}

.errorCode {
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);

  @media (width >= 700px) {
    font-size: 8rem;
  }
}

.errorTitle {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin: 1rem 0 0;
}

.errorMessage {
  font-size: 1.125rem;
  margin: 1.5rem 0 1rem;
}
