.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 0 1rem;

  @media (width >= 700px) {
    padding: 0 2rem;
  }
}

.main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
