@import url("@perugi/css-reset/reset.css");

:root {
  --background-color: #fecc04;
  --primary-color: #69e386;
  --secondary-color: #f4b2d7;
  --tertiary-color: #aae5ef;
  --offwhite-color: #f2efe2;
  --text-color: #000;
  --disabled-color: #adadad;
  --disabled-text-color: #7a7a7a;
  --font-weight-bold: 700;
  --font-weight-regular: 500;
  --font-body:
    "Space Grotesk", system-ui, -apple-system, "Segoe UI", roboto, ubuntu,
    cantarell, "Noto Sans", "Helvetica Neue", arial, sans-serif;
  --font-heading: "Anton", impact, "Arial Black", system-ui, sans-serif;
  --translate-distance: 4px;
  --translate-distance-neg: calc(-1 * var(--translate-distance));
  --shadow-inset: 1px;
  --box-shadow-sm: 4px 4px 0 #000;
  --box-shadow-lg: 8px 8px 0 #000;
  --border-sm: 2px solid #000;
  --border-lg: 4px solid #000;
}

html,
body {
  font-family: var(--font-body);
}

body {
  overflow-y: scroll; /* Show vertical scrollbar */
}
