.productDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 3rem;
  background-color: var(--offwhite-color);
  border: var(--border-lg);
  box-shadow: var(--box-shadow-lg);
  max-width: 1200px;
  margin: 2rem auto;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  padding: 2rem;
  background-color: white;
  border: var(--border-sm);
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
  }

  a {
    text-decoration: none;
    margin-top: 1rem;
  }

  .price {
    align-self: center;
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-top: auto;
    padding-top: 1rem;
  }

  .backLink {
    align-self: center;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 0.5rem;
}
